<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.it.dao.CommentDao">
	<resultMap type="com.gl.it.entity.Comment" id="basemap">
		<id column="cm_id" property="id" />
		<result column="cm_weiboid" property="weiboId" />
		<result column="cm_userid" property="userId" />
		<result column="cm_content" property="content" />
		<result column="cm_createtime" property="createTime" />
		<result column="user_nickname" property="userNickName" />
	</resultMap>
	
	<select id="selectListByWb" resultMap="basemap">
	  select cm.*,u.user_nickname from comments cm
	  join users u on u.user_id=cm.cm_userid
	  where cm.cm_weiboid=#{wbid} order by cm_createtime desc
	</select>
	
	<insert id="insert">
		insert into comments values(
		default,#{cm.weiboId},#{cm.userId},#{cm.content},#{cm.createTime})
	</insert>

</mapper>